<div class="card-body">
  <%= bootstrap_form_with model: book, url: url, remote: true do |form| %>
    <p>
      <%= form.text_area :title%>
    </p>

    <p>
      <%= form.text_area :author%>
    </p>

    <p>
      <%= form.collection_select :genre_id, genres, :id, :title, {class: "form-control"}%>
    </p>

    <%= form.submit "Create", class: "btn btn-primary"%>
  <% end %>
</div>