<div class="my-row">
  <h1><%= Rails.root %></h1>
  <div class="col-sm-3">
    <p></p>
    <%= render partial: 'genres/genre_cloud', locals: {genres: @genres} %>
    <p></p>
    <%= render partial: 'statuses/status_cloud', locals: {statuses: @statuses} %>
    <p></p>
    <%= render partial: 'covers/covers_cloud', locals: {covers: @covers} %>
  </div>
  <div class="col-sm-9">
    <p></p>
    <h1>Books</h1>
    <p></p>
    <div class="col-sm-6" id="new-book">
      <%= render partial: 'books/create_button'%>
    </div>
    <p></p>
    <div id="search-panel">
      <%= render partial: 'books/search_form' %>
    </div>
    <p></p>
    <div id="order-panel">
      <%= render partial: 'books/order_tab' %>
    </div>
    <p></p>
    <div id="pagination">
      <%= render partial: 'books/book_paginator', locals: {books: @books} %>
    </div>
  </div>
</div>